In [ ]:
# Author: Asif Khan
# Module 6 Challenge
# Date: September 2024

### Import Required Libraries and Set Up Environment Variables

In [2]:
# Dependencies
import requests
import time
from dotenv import load_dotenv, find_dotenv
import os
import pandas as pd
import json
import os
from datetime import datetime

In [3]:
##personal note: update .gitignore to ignore .env files
##check before pushing to git

## Load the NASA_API_KEY from the env file
load_dotenv()
NASA_API_KEY = os.getenv('NASA_API_KEY')

#if the response is 'str' key is loaded successfully
type(NASA_API_KEY)

str

### CME Data

In [4]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for CMEs:
CME = "CME"
# CME = "GST"
# Search for CMEs published between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"

# Build URL for CME
query_url = f"{base_url}{CME}?startDate={startDate}&endDate={endDate}&api_key={NASA_API_KEY}"
print(query_url)

https://api.nasa.gov/DONKI/CME?startDate=2013-05-01&endDate=2024-05-01&api_key=oHCkLcRp3bjY2HhGvQTsO6Uiaez1kpAmQqNFExvB

In [5]:
# Make a "GET" request for the CME URL and store it in a variable named cme_response
response = requests.get(query_url)
response.status_code

200

In [6]:
# Convert the response variable to json and store it as a variable named cme_json
cme_json = response.json()

# check the response
print(cme_json[:1])

[{'activityID': '2013-05-01T03:12:00-CME-001', 'catalog': 'M2M_CATALOG', 'startTime': '2013-05-01T03:12Z', 'instruments': [{'displayName': 'SOHO: LASCO/C2'}, {'displayName': 'SOHO: LASCO/C3'}, {'displayName': 'STEREO A: SECCHI/COR2'}, {'displayName': 'STEREO B: SECCHI/COR2'}], 'sourceLocation': '', 'activeRegionNum': None, 'note': '', 'submissionTime': '2013-08-07T16:54Z', 'versionId': 1, 'link': 'https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CME/2349/-1', 'cmeAnalyses': [{'isMostAccurate': True, 'time21_5': '2013-05-01T07:07Z', 'latitude': 12.0, 'longitude': -120.0, 'halfAngle': 36.0, 'speed': 860.0, 'type': 'C', 'featureCode': 'null', 'imageType': None, 'measurementTechnique': 'null', 'note': '', 'levelOfData': 0, 'tilt': None, 'minorHalfWidth': None, 'speedMeasuredAtHeight': None, 'submissionTime': '2013-08-07T16:54Z', 'link': 'https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CMEAnalysis/2350/-1', 'enlilList': [{'modelCompletionTime': '2013-05-01T08:32Z', 'au': 2.0, 'estimatedShockArrivalTime': None, 'estimatedDuration': None, 'rmin_re': None, 'kp_18': None, 'kp_90': None, 'kp_135': None, 'kp_180': None, 'isEarthGB': False, 'link': 'https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/WSA-ENLIL/2348/-1', 'impactList': [{'isGlancingBlow': False, 'location': 'STEREO B', 'arrivalTime': '2013-05-04T06:16Z'}], 'cmeIDs': ['2013-05-01T03:12:00-CME-001']}]}], 'linkedEvents': [{'activityID': '2013-05-04T04:52:00-IPS-001'}]}]

In [7]:
# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
print(json.dumps(cme_json[0], indent=4))

{
    "activityID": "2013-05-01T03:12:00-CME-001",
    "catalog": "M2M_CATALOG",
    "startTime": "2013-05-01T03:12Z",
    "instruments": [
        {
            "displayName": "SOHO: LASCO/C2"
        },
        {
            "displayName": "SOHO: LASCO/C3"
        },
        {
            "displayName": "STEREO A: SECCHI/COR2"
        },
        {
            "displayName": "STEREO B: SECCHI/COR2"
        }
    ],
    "sourceLocation": "",
    "activeRegionNum": null,
    "note": "",
    "submissionTime": "2013-08-07T16:54Z",
    "versionId": 1,
    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CME/2349/-1",
    "cmeAnalyses": [
        {
            "isMostAccurate": true,
            "time21_5": "2013-05-01T07:07Z",
            "latitude": 12.0,
            "longitude": -120.0,
            "halfAngle": 36.0,
            "speed": 860.0,
            "type": "C",
            "featureCode": "null",
            "imageType": null,
            "measurementTechnique": "null",
            "note": "",
            "levelOfData": 0,
            "tilt": null,
            "minorHalfWidth": null,
            "speedMeasuredAtHeight": null,
            "submissionTime": "2013-08-07T16:54Z",
            "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CMEAnalysis/2350/-1",
            "enlilList": [
                {
                    "modelCompletionTime": "2013-05-01T08:32Z",
                    "au": 2.0,
                    "estimatedShockArrivalTime": null,
                    "estimatedDuration": null,
                    "rmin_re": null,
                    "kp_18": null,
                    "kp_90": null,
                    "kp_135": null,
                    "kp_180": null,
                    "isEarthGB": false,
                    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/WSA-ENLIL/2348/-1",
                    "impactList": [
                        {
                            "isGlancingBlow": false,
                            "location": "STEREO B",
                            "arrivalTime": "2013-05-04T06:16Z"
                        }
                    ],
                    "cmeIDs": [
                        "2013-05-01T03:12:00-CME-001"
                    ]
                }
            ]
        }
    ],
    "linkedEvents": [
        {
            "activityID": "2013-05-04T04:52:00-IPS-001"
        }
    ]
}

In [8]:
# Convert the JSON data to a Pandas DataFrame

# Both pd.DataFrame & pd.json_normalize will work
# cme_df = pd.DataFrame(cme_json)
cme_df = pd.json_normalize(cme_json)

# Keep only the columns: activityID, startTime, linkedEvents
cme_filtered_df = cme_df[['activityID', 'startTime', 'linkedEvents']]

# Preview the resulting DataFrame
cme_filtered_df.head(10)

,activityID,startTime,linkedEvents
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,[{'activityID': '2013-05-04T04:52:00-IPS-001'}]
1,2013-05-02T05:24:00-CME-001,2013-05-02T05:24Z,None
2,2013-05-02T14:36:00-CME-001,2013-05-02T14:36Z,None
3,2013-05-03T18:00:00-CME-001,2013-05-03T18:00Z,None
4,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,[{'activityID': '2013-05-07T04:37:00-IPS-001'}]
5,2013-05-06T14:36:00-CME-001,2013-05-06T14:36Z,None
6,2013-05-08T12:39:00-CME-001,2013-05-08T12:39Z,None
7,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,[{'activityID': '2013-05-12T23:30:00-IPS-001'}]
8,2013-05-10T19:12:00-CME-001,2013-05-10T19:12Z,None
9,2013-05-11T23:54:00-CME-001,2013-05-11T23:54Z,None

In [16]:
# Investigate LinkedEvents column lists
cme_filtered_df.iloc[10, -1]

# 11th record is showing 2 values
# this needs to be unwrapped somewhere in below code

[{'activityID': '2013-05-13T01:53:00-FLR-001'},
 {'activityID': '2013-05-13T04:12:00-SEP-001'}]

In [10]:
# Notice that the linkedEvents column allows us to identify the corresponding GST
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to GSTs
cme_filtered_df = cme_filtered_df.dropna(subset=['linkedEvents'])

# Display new DataFrame
cme_filtered_df.head()

,activityID,startTime,linkedEvents
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,[{'activityID': '2013-05-04T04:52:00-IPS-001'}]
4,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,[{'activityID': '2013-05-07T04:37:00-IPS-001'}]
7,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,[{'activityID': '2013-05-12T23:30:00-IPS-001'}]
10,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,[{'activityID': '2013-05-13T01:53:00-FLR-001'}...
13,2013-05-13T16:18:00-CME-001,2013-05-13T16:18Z,[{'activityID': '2013-05-13T15:40:00-FLR-001'}...

In [11]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Write a nested for loop that iterates first over each row in the cme DataFrame (using the index)
# and then iterates over the values in 'linkedEvents' 
# and adds the elements individually to a list of dictionaries where each row is one element 

# Initialize an empty list to store the expanded rows
expanded_rows = []

# Iterate over each index in the DataFrame
for i in cme_filtered_df.index:
    activityID       = cme_filtered_df.loc[i, 'activityID']    # Get the corresponding value from 'activityID'
    startTime        = cme_filtered_df.loc[i, 'startTime']     # Get the corresponding value from 'startTime'    
    linkedEvents_col = cme_filtered_df.loc[i, 'linkedEvents']  # Get the list of dictionaries in 'linkedEvents_col'
    
    # Check if 'linkedEvents_col' is not None
    # this needed to be done because the code was breaking 
    # as it was still finding some None values in LinkedEvents
    if linkedEvents_col is not None:
        # Iterate over each dictionary in the list
        for item in linkedEvents_col:
            # Append to the empty expanded_rows list
            # Create a new row with the dictionary and corresponding 'activityID' and 'startTime' value
            expanded_rows.append({'activityID': activityID, 'startTime': startTime, 'linkedEvents': item})

# Create a new DataFrame from the expanded rows
expanded_cme_df = pd.DataFrame(expanded_rows)

# Use the head function to show the dataframe
expanded_cme_df.head()

,activityID,startTime,linkedEvents
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,{'activityID': '2013-05-04T04:52:00-IPS-001'}
1,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,{'activityID': '2013-05-07T04:37:00-IPS-001'}
2,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,{'activityID': '2013-05-12T23:30:00-IPS-001'}
3,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,{'activityID': '2013-05-13T01:53:00-FLR-001'}
4,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,{'activityID': '2013-05-13T04:12:00-SEP-001'}

In [12]:
# Create a function called extract_activityID_from_dict that takes a dict as input such as in linkedEvents
# and verify below that it works as expected using one row from linkedEvents as an example
# Be sure to use a try and except block to handle errors

def extract_activityID_from_dict(input_dict):
    try:
        activityID = input_dict.get('activityID', None)
        return activityID
    except Exception as e:
        # Log the error or print it for debugging
        print(f"Error processing input dictionary: {input_dict}. Error: {e}")
        return None

# verify below that it works as expected using one row from linkedEvents as an example
extract_activityID_from_dict(expanded_cme_df.loc[0,'linkedEvents'])

'2013-05-04T04:52:00-IPS-001'

In [13]:
# Apply this function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'GST_ActivityID' using loc indexer:

# Make a copy of DataFrame
cme_filtered_GST_df = cme_filtered_df.copy()

# Create a new column 'GST_ActivityID'
cme_filtered_GST_df['GST_ActivityID'] = None

# Loop through each row in 'linkedEvents'
for i in cme_filtered_GST_df.index:
    linked_events = cme_filtered_GST_df.loc[i, 'linkedEvents']  # Get the linkedEvents column for this row
    
    # Check if linked_events is a list and has at least one item
    if isinstance(linked_events, list) and len(linked_events) > 0:
        
        # Extract the 'activityID' from the first item in the list
        activity_id = extract_activityID_from_dict(linked_events[0])
        
        # Assign the extracted 'activityID' to the new column
        cme_filtered_GST_df.loc[i, 'GST_ActivityID'] = activity_id
    else:
        # If there are no linked events, leave the 'GST_ActivityID' as None
        cme_filtered_GST_df.loc[i, 'GST_ActivityID'] = None

# Check the first few rows of the updated DataFrame
cme_filtered_GST_df.head()


### still need to try tothe above code as a reference to write apply() and lambda function
# # 
# # Make a copy of the DataFrame
# cme_filtered_GST_df = cme_filtered_df.copy()

# # Apply the function to each row in the 'linkedEvents' column
# # and create a new column 'GST_ActivityID'
# cme_filtered_GST_df['GST_ActivityID'] = cme_filtered_GST_df['linkedEvents'].apply
# (
#     lambda x: extract_activityID_from_dict(x[0]) if isinstance(x, list) and len(x) > 0 else None
# )

# # Check the first few rows of the updated DataFrame
# cme_filtered_GST_df.head()

,activityID,startTime,linkedEvents,GST_ActivityID
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,[{'activityID': '2013-05-04T04:52:00-IPS-001'}],2013-05-04T04:52:00-IPS-001
4,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,[{'activityID': '2013-05-07T04:37:00-IPS-001'}],2013-05-07T04:37:00-IPS-001
7,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,[{'activityID': '2013-05-12T23:30:00-IPS-001'}],2013-05-12T23:30:00-IPS-001
10,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,[{'activityID': '2013-05-13T01:53:00-FLR-001'}...,2013-05-13T01:53:00-FLR-001
13,2013-05-13T16:18:00-CME-001,2013-05-13T16:18Z,[{'activityID': '2013-05-13T15:40:00-FLR-001'}...,2013-05-13T15:40:00-FLR-001

In [14]:
# Remove rows with missing GST_ActivityID, since we can't assign them to GSTs:

# Remove rows with missing GST_ActivityID, since we can't assign them to GSTs
cme_filtered_GST_df = cme_filtered_GST_df.dropna(subset=['GST_ActivityID'])

# Preview the updated DataFrame
cme_filtered_GST_df.head()

,activityID,startTime,linkedEvents,GST_ActivityID
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,[{'activityID': '2013-05-04T04:52:00-IPS-001'}],2013-05-04T04:52:00-IPS-001
4,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,[{'activityID': '2013-05-07T04:37:00-IPS-001'}],2013-05-07T04:37:00-IPS-001
7,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,[{'activityID': '2013-05-12T23:30:00-IPS-001'}],2013-05-12T23:30:00-IPS-001
10,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,[{'activityID': '2013-05-13T01:53:00-FLR-001'}...,2013-05-13T01:53:00-FLR-001
13,2013-05-13T16:18:00-CME-001,2013-05-13T16:18Z,[{'activityID': '2013-05-13T15:40:00-FLR-001'}...,2013-05-13T15:40:00-FLR-001

In [46]:
# print out the datatype of each column in this DataFrame:
cme_filtered_GST_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1023 entries, 0 to 5523
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activityID      1023 non-null   object
 1   startTime       1023 non-null   object
 2   linkedEvents    1023 non-null   object
 3   GST_ActivityID  1023 non-null   object
dtypes: object(4)
memory usage: 72.2+ KB

In [15]:
# Convert the 'GST_ActivityID' column to string format
cme_filtered_GST_df['GST_ActivityID'] = cme_filtered_GST_df['GST_ActivityID'].astype(str)

# Convert startTime to datetime format
cme_filtered_GST_df['startTime'] = pd.to_datetime(cme_filtered_GST_df['startTime'])

# Rename startTime to startTime_CME and activityID to cmeID
cme_filtered_GST_df.rename(columns={'startTime': 'startTime_CME', 'activityID': 'cmeID'}, inplace=True)

# Drop the linkedEvents column
cme_filtered_GST_df.drop(columns=['linkedEvents'], inplace=True)

# Verify that all steps were executed correctly by checking the first few rows
cme_filtered_GST_df.head()

,cmeID,startTime_CME,GST_ActivityID
0,2013-05-01T03:12:00-CME-001,2013-05-01 03:12:00+00:00,2013-05-04T04:52:00-IPS-001
4,2013-05-03T22:36:00-CME-001,2013-05-03 22:36:00+00:00,2013-05-07T04:37:00-IPS-001
7,2013-05-09T19:29:00-CME-001,2013-05-09 19:29:00+00:00,2013-05-12T23:30:00-IPS-001
10,2013-05-13T02:54:00-CME-001,2013-05-13 02:54:00+00:00,2013-05-13T01:53:00-FLR-001
13,2013-05-13T16:18:00-CME-001,2013-05-13 16:18:00+00:00,2013-05-13T15:40:00-FLR-001

In [16]:
# print out the datatype of each column in this DataFrame:
cme_filtered_GST_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1023 entries, 0 to 5523
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmeID           1023 non-null   object
 1   startTime_CME   1023 non-null   datetime64[ns, UTC]
 2   GST_ActivityID  1023 non-null   object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 64.3+ KB

In [17]:
# We are only interested in CMEs related to GSTs so keep only rows where the GST_ActivityID column contains 'GST'
# use the method 'contains()' from the str library.  
cme_gst_df = cme_filtered_GST_df[cme_filtered_GST_df['GST_ActivityID'].str.contains('GST', na=False)]

cme_gst_df.head()

,cmeID,startTime_CME,GST_ActivityID
26,2013-06-02T20:24:00-CME-001,2013-06-02 20:24:00+00:00,2013-06-07T03:00:00-GST-001
1358,2015-09-04T14:12:00-CME-001,2015-09-04 14:12:00+00:00,2015-09-09T03:00:00-GST-001
1359,2015-09-04T19:24:00-CME-001,2015-09-04 19:24:00+00:00,2015-09-09T03:00:00-GST-001
1361,2015-09-06T23:30:00-CME-001,2015-09-06 23:30:00+00:00,2015-09-11T06:00:00-GST-001
1362,2015-09-07T10:36:00-CME-001,2015-09-07 10:36:00+00:00,2015-09-11T06:00:00-GST-001

### GST Data

In [19]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for Geomagnetic Storms (GST):
GST = "GST"

# Search for GSTs between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"

# Build the URL for GST
gst_url = f"{base_url}{GST}?startDate={startDate}&endDate={endDate}&api_key={NASA_API_KEY}"

# Print the URL to verify
print(gst_url)

https://api.nasa.gov/DONKI/GST?startDate=2013-05-01&endDate=2024-05-01&api_key=oHCkLcRp3bjY2HhGvQTsO6Uiaez1kpAmQqNFExvB

In [20]:
# Make a "GET" request for the GST URL and store it in a variable named gst_response
gst_response = requests.get(gst_url)

# Check the status code to ensure the request was successful
gst_response.status_code

200

In [38]:
# Convert the response variable to json and store it as a variable named gst_json
gst_json = gst_response.json()

# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
print(json.dumps(gst_json[0], indent=4))

{
    "gstID": "2013-06-01T01:00:00-GST-001",
    "startTime": "2013-06-01T01:00Z",
    "allKpIndex": [
        {
            "observedTime": "2013-06-01T01:00Z",
            "kpIndex": 6.0,
            "source": "NOAA"
        }
    ],
    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/GST/326/-1",
    "linkedEvents": [
        {
            "activityID": "2013-05-31T15:45:00-HSS-001"
        }
    ],
    "submissionTime": "2013-07-15T19:26Z",
    "versionId": 1
}

In [39]:
# Convert gst_json to a Pandas DataFrame  
gst_df = pd.json_normalize(gst_json)
gst_df.head()

,gstID,startTime,allKpIndex,link,linkedEvents,submissionTime,versionId
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,"[{'observedTime': '2013-06-01T01:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2013-05-31T15:45:00-HSS-001'}],2013-07-15T19:26Z,1
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,"[{'observedTime': '2013-06-07T03:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2013-06-02T20:24:00-CME-001'}],2013-07-15T19:41Z,1
2,2013-06-29T03:00:00-GST-001,2013-06-29T03:00Z,"[{'observedTime': '2013-06-29T03:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,None,2013-09-25T04:48Z,2
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,"[{'observedTime': '2013-10-02T06:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2013-09-29T22:40:00-CME-001'}...,2013-10-02T13:23Z,1
4,2013-12-08T00:00:00-GST-001,2013-12-08T00:00Z,"[{'observedTime': '2013-12-08T03:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2013-12-04T23:12:00-CME-001'}...,2013-12-08T03:42Z,1

In [40]:
# Keep only the columns: activityID, startTime, linkedEvents
# note it is gstID instead of activityID
gst_filtered_df = gst_df[['gstID', 'startTime', 'linkedEvents']]

# Display the first few rows
gst_filtered_df.head()

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,[{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,[{'activityID': '2013-06-02T20:24:00-CME-001'}]
2,2013-06-29T03:00:00-GST-001,2013-06-29T03:00Z,None
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,[{'activityID': '2013-09-29T22:40:00-CME-001'}...
4,2013-12-08T00:00:00-GST-001,2013-12-08T00:00Z,[{'activityID': '2013-12-04T23:12:00-CME-001'}...

In [41]:
# Notice that the linkedEvents column allows us to identify the corresponding CME
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to CME
gst_filtered_df = gst_filtered_df.dropna(subset=['linkedEvents'])

# Updated DataFrame head
gst_filtered_df.head()

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,[{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,[{'activityID': '2013-06-02T20:24:00-CME-001'}]
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,[{'activityID': '2013-09-29T22:40:00-CME-001'}...
4,2013-12-08T00:00:00-GST-001,2013-12-08T00:00Z,[{'activityID': '2013-12-04T23:12:00-CME-001'}...
5,2014-02-19T03:00:00-GST-001,2014-02-19T03:00Z,[{'activityID': '2014-02-16T14:15:00-CME-001'}...

In [42]:
# Notice that the linkedEvents sometimes contains multiple events per row

# Ensure each row is one element by using explode on the 'linkedEvents' column
gst_filtered_df = gst_filtered_df.explode('linkedEvents')

# Reset the index after exploding
gst_filtered_df = gst_filtered_df.reset_index(drop=True)

# Drop any rows with missing values in 'linkedEvents' (if there are still any)
gst_filtered_df = gst_filtered_df.dropna(subset=['linkedEvents'])

# Display the updated DataFrame
gst_filtered_df.head()

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,{'activityID': '2013-05-31T15:45:00-HSS-001'}
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,{'activityID': '2013-06-02T20:24:00-CME-001'}
2,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-09-29T22:40:00-CME-001'}
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T01:54:00-IPS-001'}
4,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T02:47:00-MPC-001'}

In [43]:
# Apply the extract_activityID_from_dict function to each row in the 'linkedEvents' column 
# (you can use apply() and a lambda function)
# and create a new column called 'CME_ActivityID' using loc indexer:
gst_filtered_df['CME_ActivityID'] = gst_filtered_df['linkedEvents'].apply(lambda x: extract_activityID_from_dict(x))

# Remove rows with missing 'CME_ActivityID', since we can't assign them to CMEs
gst_filtered_df = gst_filtered_df.dropna(subset=['CME_ActivityID'])

# Display the updated DataFrame
gst_filtered_df.head()

,gstID,startTime,linkedEvents,CME_ActivityID
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,{'activityID': '2013-05-31T15:45:00-HSS-001'},2013-05-31T15:45:00-HSS-001
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,{'activityID': '2013-06-02T20:24:00-CME-001'},2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-09-29T22:40:00-CME-001'},2013-09-29T22:40:00-CME-001
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T01:54:00-IPS-001'},2013-10-02T01:54:00-IPS-001
4,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T02:47:00-MPC-001'},2013-10-02T02:47:00-MPC-001

In [44]:
# check the data types
gst_filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           205 non-null    object
 1   startTime       205 non-null    object
 2   linkedEvents    205 non-null    object
 3   CME_ActivityID  205 non-null    object
dtypes: object(4)
memory usage: 6.5+ KB

In [45]:
# Convert the 'CME_ActivityID' column to string format
gst_filtered_df['CME_ActivityID'] = gst_filtered_df['CME_ActivityID'].astype(str)

# Convert the 'gstID' column to string format
gst_filtered_df['gstID'] = gst_filtered_df['gstID'].astype(str)

# Convert startTime to datetime format
gst_filtered_df['startTime'] = pd.to_datetime(gst_filtered_df['startTime'])

# Rename 'startTime' to 'startTime_GST'
gst_filtered_df.rename(columns={'startTime': 'startTime_GST'}, inplace=True)

# Drop 'linkedEvents' column
gst_filtered_df.drop(columns=['linkedEvents'], inplace=True)

# Verify that all steps were executed correctly
gst_filtered_df.info() # Check data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           205 non-null    object
 1   startTime_GST   205 non-null    datetime64[ns, UTC]
 2   CME_ActivityID  205 non-null    object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 4.9+ KB

In [50]:
# Preview the first few rows of the DataFrame
gst_filtered_df.head()

,gstID,startTime_GST,CME_ActivityID
1,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-09-29T22:40:00-CME-001
5,2013-12-08T00:00:00-GST-001,2013-12-08 00:00:00+00:00,2013-12-04T23:12:00-CME-001
7,2014-02-19T03:00:00-GST-001,2014-02-19 03:00:00+00:00,2014-02-16T14:15:00-CME-001
9,2014-02-20T03:00:00-GST-001,2014-02-20 03:00:00+00:00,2014-02-18T01:25:00-CME-001

In [51]:
# We are only interested in GSTs related to CMEs so keep only rows where the CME_ActivityID column contains 'CME'
# use the method 'contains()' from the str library.  
gst_filtered_df = gst_filtered_df[gst_filtered_df['CME_ActivityID'].str.contains('CME')]

# Verify the filtered rows
gst_filtered_df.head()

,gstID,startTime_GST,CME_ActivityID
1,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-09-29T22:40:00-CME-001
5,2013-12-08T00:00:00-GST-001,2013-12-08 00:00:00+00:00,2013-12-04T23:12:00-CME-001
7,2014-02-19T03:00:00-GST-001,2014-02-19 03:00:00+00:00,2014-02-16T14:15:00-CME-001
9,2014-02-20T03:00:00-GST-001,2014-02-20 03:00:00+00:00,2014-02-18T01:25:00-CME-001

In [52]:
#review CME DataFrame again
cme_gst_df.head()

,cmeID,startTime_CME,GST_ActivityID
26,2013-06-02T20:24:00-CME-001,2013-06-02 20:24:00+00:00,2013-06-07T03:00:00-GST-001
1358,2015-09-04T14:12:00-CME-001,2015-09-04 14:12:00+00:00,2015-09-09T03:00:00-GST-001
1359,2015-09-04T19:24:00-CME-001,2015-09-04 19:24:00+00:00,2015-09-09T03:00:00-GST-001
1361,2015-09-06T23:30:00-CME-001,2015-09-06 23:30:00+00:00,2015-09-11T06:00:00-GST-001
1362,2015-09-07T10:36:00-CME-001,2015-09-07 10:36:00+00:00,2015-09-11T06:00:00-GST-001

### Merge both datatsets

In [53]:
# Now merge both datasets using 'gstID' and 'CME_ActivityID' for gst 
# and 'cmeID' and 'GST_ActivityID' for cme. 
# Use the 'left_on' and 'right_on' specifiers.
merged_df = pd.merge(gst_filtered_df, 
                     cme_gst_df, 
                     left_on=['gstID', 'CME_ActivityID'], 
                     right_on=['GST_ActivityID', 'cmeID'], 
                     how='inner')

# Display the first few rows of the merged DataFrame to verify the merge
merged_df.head()

,gstID,startTime_GST,CME_ActivityID,cmeID,startTime_CME,GST_ActivityID
0,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001,2013-06-02T20:24:00-CME-001,2013-06-02 20:24:00+00:00,2013-06-07T03:00:00-GST-001
1,2015-09-09T03:00:00-GST-001,2015-09-09 03:00:00+00:00,2015-09-04T14:12:00-CME-001,2015-09-04T14:12:00-CME-001,2015-09-04 14:12:00+00:00,2015-09-09T03:00:00-GST-001
2,2015-09-09T03:00:00-GST-001,2015-09-09 03:00:00+00:00,2015-09-04T19:24:00-CME-001,2015-09-04T19:24:00-CME-001,2015-09-04 19:24:00+00:00,2015-09-09T03:00:00-GST-001
3,2015-09-11T06:00:00-GST-001,2015-09-11 06:00:00+00:00,2015-09-06T23:30:00-CME-001,2015-09-06T23:30:00-CME-001,2015-09-06 23:30:00+00:00,2015-09-11T06:00:00-GST-001
4,2015-09-11T06:00:00-GST-001,2015-09-11 06:00:00+00:00,2015-09-07T10:36:00-CME-001,2015-09-07T10:36:00-CME-001,2015-09-07 10:36:00+00:00,2015-09-11T06:00:00-GST-001

In [60]:
# Verify that the new DataFrame has the same number of rows as cme and gst
cme_rows = len(cme_gst_df)
gst_rows = len(gst_filtered_df)

# Verify the number of rows in the merged DataFrame
merged_rows = len(merged_df)

# Print the results
print(f"Number of rows in CME DataFrame: {cme_rows}")
print(f"Number of rows in GST DataFrame: {gst_rows}")
print(f"Number of rows in Merged DataFrame: {merged_rows}")

Number of rows in CME DataFrame: 6
Number of rows in GST DataFrame: 61
Number of rows in Merged DataFrame: 6

### Computing the time it takes for a CME to cause a GST

In [62]:
# Compute the time diff between startTime_GST and startTime_CME by creating a new column called `timeDiff`.

#*******
# Calculate the difference between startTime_GST and startTime_CME
merged_df['timeDiff'] = merged_df['startTime_GST'] - merged_df['startTime_CME']

# Convert the time difference to a more readable format (days, hours, minutes)
# merged_df['timeDiff'] = merged_df['timeDiff'].dt.days.astype(str) + ' days ' + merged_df['timeDiff'].dt.components.hours.astype(str) + ' hours ' + merged_df['timeDiff'].dt.components.minutes.astype(str) + ' minutes'

# Verify the resulting DataFrame
merged_df.head()

,gstID,startTime_GST,CME_ActivityID,cmeID,startTime_CME,GST_ActivityID,timeDiff
0,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001,2013-06-02T20:24:00-CME-001,2013-06-02 20:24:00+00:00,2013-06-07T03:00:00-GST-001,4 days 06:36:00
1,2015-09-09T03:00:00-GST-001,2015-09-09 03:00:00+00:00,2015-09-04T14:12:00-CME-001,2015-09-04T14:12:00-CME-001,2015-09-04 14:12:00+00:00,2015-09-09T03:00:00-GST-001,4 days 12:48:00
2,2015-09-09T03:00:00-GST-001,2015-09-09 03:00:00+00:00,2015-09-04T19:24:00-CME-001,2015-09-04T19:24:00-CME-001,2015-09-04 19:24:00+00:00,2015-09-09T03:00:00-GST-001,4 days 07:36:00
3,2015-09-11T06:00:00-GST-001,2015-09-11 06:00:00+00:00,2015-09-06T23:30:00-CME-001,2015-09-06T23:30:00-CME-001,2015-09-06 23:30:00+00:00,2015-09-11T06:00:00-GST-001,4 days 06:30:00
4,2015-09-11T06:00:00-GST-001,2015-09-11 06:00:00+00:00,2015-09-07T10:36:00-CME-001,2015-09-07T10:36:00-CME-001,2015-09-07 10:36:00+00:00,2015-09-11T06:00:00-GST-001,3 days 19:24:00

In [72]:
# Use describe() to compute the mean and median time 
# that it takes for a CME to cause a GST. 
merged_df['timeDiff'].describe()

count                            6
mean               3 days 18:31:00
std      1 days 04:10:07.703849362
min                1 days 10:12:00
25%                3 days 22:10:30
50%                4 days 06:33:00
75%                4 days 07:21:00
max                4 days 12:48:00
Name: timeDiff, dtype: object

### Exporting data in csv format

In [74]:
# Export data to CSV without the index

#*****
# Export the DataFrame to a CSV file without the index
# merged_df.to_csv('output_data.csv', index=False)
merged_df.to_csv('output/output_data.csv', index=False)

In [79]:
#this is extra to get configuration details

!pip install watermark

Collecting watermark
  Downloading watermark-2.5.0-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: ipython>=6.0 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from watermark) (8.25.0)
Requirement already satisfied: importlib-metadata>=1.4 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from watermark) (7.0.1)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from watermark) (69.5.1)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from importlib-metadata>=1.4->watermark) (3.17.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (5.14.3)
Requirement already satisfied: exceptiongroup in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (1.2.0)
Requirement already satisfied: typing-extensions>=4.6 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (4.11.0)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from ipython>=6.0->watermark) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from jedi>=0.16->ipython>=6.0->watermark) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from pexpect>4.3->ipython>=6.0->watermark) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.0->watermark) (0.2.5)
Requirement already satisfied: executing in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from stack-data->ipython>=6.0->watermark) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from stack-data->ipython>=6.0->watermark) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from stack-data->ipython>=6.0->watermark) (0.2.2)
Requirement already satisfied: six in /opt/anaconda3/envs/dev/lib/python3.10/site-packages (from asttokens->stack-data->ipython>=6.0->watermark) (1.16.0)
Downloading watermark-2.5.0-py2.py3-none-any.whl (7.7 kB)
Installing collected packages: watermark
Successfully installed watermark-2.5.0

In [80]:
#this is extra to get configuration details

#filter harmless warnings 
import warnings 
warnings.filterwarnings("ignore") 

# #configure dataframe display options 
# pd.set_option('display.max_columns',1000) 
# pd.set_option('display.max_rows',1000) 
# pd.set_option('display.max_colwidth',None) 
# pd.set_option('mode.chained_assignment', None) 

#you need to install watermark
from watermark import watermark 
print(watermark()) 
print(watermark(iversions=True, globals_=globals()))

Last updated: 2024-09-24T13:02:39.911235-07:00

Python implementation: CPython
Python version       : 3.10.14
IPython version      : 8.25.0

Compiler    : Clang 14.0.6
OS          : Darwin
Release     : 23.4.0
Machine     : arm64
Processor   : arm
CPU cores   : 8
Architecture: 64bit

requests  : 2.32.2
watermark : 2.5.0
IPython   : 8.25.0
ipywidgets: 8.1.5
sys       : 3.10.14 (main, May  6 2024, 14:42:37) [Clang 14.0.6 ]
numpy     : 1.26.4
json      : 2.0.9
xarray    : 2023.6.0
pandas    : 2.2.2